.dnd5e.sheet .rest.long-rest {
	width: calc(100% - 2px);
	padding: 1px 3px;
	border: 1px solid transparent;
}

/*Skill Customization */
.dnd5e.sheet.actor .skills-list > .skill > .skill-cust-bonus,
.dnd5e.sheet.actor .attribute .skill .skill-cust-bonus,
.dnd5e.sheet.actor .skills-list > .skill > .skill-ability-select {
	flex: 0 0 1px;
	margin-right: 2px;
	font-family: Signika;
	height: 1rem;
}

.dnd5e.sheet.actor .skills-list > .skill > .skill-cust-bonus,
.dnd5e.sheet.actor .attribute .skill .skill-cust-bonus {
	border: 1px gray solid;
	padding: 0;
	text-align: center;
}

.dnd5e.sheet.actor .skills-list > .skill > .skill-ability-select {
	padding: 0 2px;
	text-align-last: center;
	-moz-text-align-last: center;
	-ms-text-align-last: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
	text-align: center;
}

.dnd5e.sheet.actor ul.skills-list {
    flex: 0 0 230px;
}