.dnd5e.sheet .rest.long-rest {
	width: calc(100% - 2px);
	padding: 1px 3px;
	border: 1px solid transparent;
}

/*Skill Customization */
.dnd5e.sheet.actor .skills-list > .skill > .skill-cust-bonus,
.dnd5e.sheet.actor .attribute .skill .skill-cust-bonus,
.dnd5e.sheet.actor .skills-list > .skill > .skill-ability-select {
	flex: 0 0 1px;
	margin-right: 2px;
	font-family: Signika;
	height: 1rem;
}

.dnd5e.sheet.actor .skills-list > .skill > .skill-cust-bonus,
.dnd5e.sheet.actor .attribute .skill .skill-cust-bonus {
	border: 1px gray solid;
	padding: 0;
	text-align: center;
}

.dnd5e.sheet.actor .skills-list > .skill > .skill-ability-select {
	padding: 0 2px;
	text-align-last: center;
	-moz-text-align-last: center;
	-ms-text-align-last: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
	text-align: center;
}
.dnd5e.sheet.actor .tab.attributes {
	scrollbar-width: thin;
}
.dnd5e.sheet.actor ul.skills-list li.skill .save-proficiency {
	flex: 0 0 16px;
	line-height: 18px;
}
/* IDJ */
.dnd5e.sheet.actor .ability-scores.idj {
	height: 492px;
}
.dnd5e.sheet.actor.character.idj {
	min-height: 730px;
}
.dnd5e.sheet.actor.npc.idj {
	min-height: 752px;
}
.dnd5e.sheet.actor.npc {
	min-width: 605px;
	min-height: 680px;
}

.dnd5e.sheet.actor .sheet-header .attributes .attribute .config-button {
	position: absolute;
	display: none;
	right: -6px;
	top: -3px;
	font-size: 10px;
	font-weight: normal;
}
